<h2>{{title}}</h2>
<h3>{{date}}</h3>
<h1><img src="{{data.imageUrl}}" /> {{temp}} C</h1>
<p><b>Feels like:</b> {{temp}} C</p>
<p><b>Humidity:</b> {{data.humidity}}%</p>
<p><b>Wind:</b> {{data.winddisplay}}</p>
